[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/minight/prezto.git
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z.git
[submodule "config/fonts/powerline"]
	path = config/fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bin/fz"]
	path = bin/fz
	url = https://github.com/changyuheng/fz.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
